
body{
    margin-top: 30px;
    font-family: 'Helvetica', sans-serif;
}

.filterOpt{
    padding-right: 20px;
}

.footer{
    background-color: #e6e6e6;
}

.shelterCard{
    background-color:#A2A2A2;
    color:#e4e4e4;
}

.shelterInfo p{
    background-color: #4F7BB0;
    text-decoration: none;

}

.shelterCard.shelterInfo{
    color:#f4f4f4;
}


.orgName, .locationName{
    font-weight: bold;
}

.shelterInfo{
    color:#f4f4f4;
}

.shelterInfo:hover{
    text-decoration: none;
}

.shelterCard:hover{
    background-color: #E25454;
}

.shelterProfile{
	background-color: #e4e4e4;
	height: 100%;
}

.logo{
    clear:both;
    max-width: 160px;
    padding-bottom: 20px;

}

.welcome{
  display: none;
}
