
body{
    margin-top: 30px;
    font-family: 'Helvetica', sans-serif;
}


.footer{
    background-color: #e6e6e6;
}


.shelterCard{
    background-color:#C15A5A;
}


.shelterCard.shelterInfo{
    color:#f4f4f4;
}

.shelterCard.shelterInfo:hover{
    color:#ce5555;
}

.shelterInfo{
    color:#f4f4f4;
}

.shelterInfo:hover{
    text-decoration: none;
}

.shelterCard:hover{
    background-color: #A30000;
}

.shelterProfile{
	background-color: #e4e4e4;
	height: 100%;
}

.logo{
    clear:both;
    max-width: 160px;
    padding-bottom: 20px;

}

.welcome{
  display: none;
}
