.footer{
    background-color: #e6e6e6;
}


/*.home{
    background-color: green;
    height: 800px;
    width: 1200px;
}

.shelter{
    background-color: pink;
    height: 800px;
    width: 1200px;
}*/

.shelterCard{
	background-color:#cc5500;
}

.shelterProfile{
	background-color: snow;
	height: 100%;
}

.logo{
    max-width: 30%;
    float: left;
    
}