body{
    margin-top: 30px;
}

.footer{
    background-color: #e6e6e6;
}

.loginFields{
    clear: both;
}

.shelterCard{
    background-color:#C15A5A;
    border: 1px solid #f4f4f4;
    font-size: 1em;
    text-transform: capitalize;
}

.shelterCard.shelterInfo{
    color:#f4f4f4;
}

.shelterInfo{
    color:#f4f4f4;
    text-decoration: none;
}

.shelterInfo:hover{
    text-decoration: none;
}

.shelterCard:hover{
    background-color: #A30000;
}

.shelterProfile{
	background-color: #e4e4e4;
	height: 100%;
}

.logo{
    max-width: 160px;
    float: left;
    clear:both;

}

.welcome{
  display: none;
}
