
body{
    margin-top: 30px;
    font-family: 'Helvetica', sans-serif;
}

label{
    width: 120px;
    background-color:#E3E3E3;
    padding-right: 10px;
    text-align: left;
}


.filterOpt{
    padding-right: 20px;
}

.footer{
    background-color: #e6e6e6;
}

.shelterCard{
    background-color: #E4E4E4;
}

.shelterCard :hover{
    text-decoration: none;
}

.shelterInfo p{
    background-color: #337AB7;
    text-decoration: none;
    color:#585858;

}


.orgName, .locationName{
    font-weight: bold;
}

.shelterInfo{
    color:#222222;
}

.shelterCard:hover{
    background-color: #A2A4A4;

}

.shelterProfile{
	background-color: #e4e4e4;
	height: 100%;
}

.logo{
    clear:both;
    max-width: 160px;
    padding-bottom: 20px;
}


.org p{
    color:#fff;
}
